:root {
    font-size: 20px;
    font-family: 'Bebas Neue';
    --text-primary: #000000;
    --text-secondary: #FF6425;
    --bg-primary: linear-gradient(to bottom right, #ffae00, rgb(255, 0, 179));
    --primary: #FF6425;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../Fonts/BebasNeue/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Bebas Neue Bold";
    src: url("../Fonts/BebasNeue/BebasNeue-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Bebas Neue Light";
    src: url("../Fonts/BebasNeue/BebasNeue-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: "Bebas Neue Book";
    src: url("../Fonts/BebasNeue/BebasNeue-Book.ttf");
}

@font-face {
    font-family: "Lucida Bright";
    src: url("../Fonts/Lucida/LucidaBrightRegular.ttf")
}

/* END FONT FAMILY & FACE */


/* BODY */

body {
    color: var(--text-primary);
    font-family: "Bebas Neue Book";
    background-color: lightgray;
}


/* END BODY */


/*  HORIZONTAL NAVIGATION BAR
        - navbar
        - navbar-nav>li
        - navbar-toggler
        - brand-img
*/

.navbar {
    padding: 1vh 5vw;
    font-size: 1.75rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-nav>li {
    border-right: 1.25px solid rgba(255, 255, 255, 0.5);
    line-height: 1rem;
}

.navbar-nav>li:last-child {
    border-right: 0;
}

.navbar-toggler {
    border: 2px solid;
}

.brand-img {
    height: 4rem;
}


/* END NAVIGATION BAR */

.page-container {
    position: relative;
    height: 100%;
}

.multi-grad {
    background: -webkit-gradient(linear, left top, right bottom, from(#4265ff), to(#270047));
    background: linear-gradient(to bottom right, #4265ff, #270047);
    background-attachment: fixed;
}

.content-wrap {
    background-color: white;
    border-bottom: 3px solid #c9c9c9;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

.jumbotron {
    background-image: url("../Images/Pups/CoverPup.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    height: 50vh;
    max-width: 100%;
}

.jumbotron>h1 {
    text-align: center;
    font-size: 10vw;
}

#home {
    padding-bottom: 10vh;
}

#heading {
    background-image: url("../Images/Pups/CoverPup.jpg");
    background-color: rgba(100, 100, 100, 0.5);
    background-position: 50% 65%;
    background-size: cover;
    background-blend-mode: lighten;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 5vh;
    height: 45vh;
}

#heading h1 {
    font-size: 2.5rem;
    text-align: right;
    margin-right: 10vw;
}

#heading h4 {
    font-size: 1.5rem;
    text-align: right;
    margin-right: 10vw;
}

.bubbles {
    position: static;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    height: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

#Bbl-Symptoms {
    position: static;
}

#Bbl-Problems {
    position: static;
}

#Bbl-Diseases {
    position: static;
}

#Bbl-TipsAndTricks {
    position: static;
}

.bubble {
    height: 7.5rem;
    width: 10rem;
    border-radius: 20%;
    margin-top: 10pt;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--primary);
    -webkit-transition: 0.25s;
    transition: 0.25s;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    transition: 0.25s;
}

.bubble:hover {
    height: 9rem;
    width: 12.5rem;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
}

.footer {
    bottom: 0;
    width: 100%;
    padding: 0 5vh;
    background-color: lightgray;
    text-align: center;
}

